.productCard {
    width: 13rem;
    margin: 25px;
    height: 250px;
}

.productDiv {
    margin: 30px;
}

.productTitle {
    font-weight: bold;
}

.selectSpacing {
    margin-right: 20px;
}

.formContent {
    margin-bottom: 30px;
}