.sidebarPanel {
    background: white;
    width: 230px;
    height: 1000px;
    margin-top: 30px;
    float: left;
  }
  
  .sidebarButton {
    background: #d3d3d3 !important;
    color: black !important;
    width: 200px;
    margin-top: 10px;
  }
  
  .searchBox {
    width: 200px;
  }

  .categoryDiv {
    padding-top: 30px;
  }
